{% extends "csunesco/content_detail_base.html" %}

{# Event detail page: shared skeleton + a start–end date range. #}

{% set type_slug = 'event' %}
{% set type_label = _("Event") %}
{% set index_route = 'csunesco.cs_events_index' %}
{% set index_label = _("All events") %}

{% block article_dateline %}
  {% if content.publish_date %}
    <p class="cs-content-date">
      <time datetime="{{ content.publish_date }}">{{ content.publish_date[:10] }}</time>
      {% if content.end_date %}
        &ndash; <time datetime="{{ content.end_date }}">{{ content.end_date[:10] }}</time>
      {% endif %}
    </p>
  {% endif %}
{% endblock %}
