{% extends "csunesco/content_detail_base.html" %}

{# Publication detail page: shared skeleton + authors/DOI, and the media
   links section titled "Documents" (they are the publication's documents). #}

{% set type_slug = 'publication' %}
{% set type_label = _("Publication") %}
{% set index_route = 'csunesco.cs_publications_index' %}
{% set index_label = _("All publications") %}
{% set media_section_title = _("Documents") %}

{% block article_extra_meta %}
  {% if content.authors %}
    <p class="cs-content-authors">{{ content.authors }}</p>
  {% endif %}
  {% if content.doi %}
    <p class="cs-content-doi">DOI {{ content.doi }}</p>
  {% endif %}
{% endblock %}
